@rendermode InteractiveServer

<div class="game-card">

    @if(GameDetails != null)
    {
        @if(GameDetails.ImagePath != null)
        {
            <div class="image">
                <a href="/games/@GameId"><img src="@GameDetails.ImagePath" /></a>
            </div>
        }
        <div class="title">
            <a href="/games/@GameId">@GameDetails.Name</a>
        </div>
        <div class="nav-menu">
            <a href="/games/@GameId">See more..</a>
        </div>            
    }

</div>

@code {

    [Parameter]
    public string? GameId { get; set; }
    [Parameter]
    public GameIndexItem? GameDetails { get; set; }
}