@rendermode InteractiveServer

@if(Games != null)
{
    <div class="game-cards">
        @foreach(var game in Games.ToList().OrderBy(i => i.Value.Name))
        {
            <GameCard GameDetails=@game.Value GameId=@game.Key />
        }
    </div>
}
@code {
    [Parameter]
    public Dictionary<string, GameIndexItem>? Games { get; set; }
}