@rendermode InteractiveServer
@using Kadense.RPG.DataAccess;

@if(Items != null)
{
    <div class="game-item-cards">
        @foreach(var item in Items.ToList().Where(i => i.Value.Name!.ToLowerInvariant().Contains(SearchTerm.ToLowerInvariant())).OrderBy(i => i.Value.Name))
        {
            <ItemCard GameId=@GameId ItemDetails=@item.Value ItemId=@item.Key />
        }
    </div>
}
@code {
    [Parameter]
    public Dictionary<string, GameIndexItem>? Items { get; set; }
    
    [Parameter]
    public string SearchTerm { get; set; } = "";

    [Parameter]
    public string? GameId { get;set; }

    protected override async Task OnInitializedAsync()
    {
        if(Items == null)
        {
            var client = new DataConnectionClient();
            Items = await client.ReadGameItemIndexAsync(GameId!);
        }
    }
}