@rendermode InteractiveServer

<div class="location-card">

    @if(LocationDetails != null)
    {
        @if(LocationDetails.ImagePath != null)
        {
            <div class="image">
                <a href="/games/@GameId/locations/@LocationId"><img alt="@LocationDetails.Name" src="@LocationDetails.ImagePath" /></a>
            </div>
        }
        else
        {
            <div class="image">
                <a href="/games/@GameId/items/@LocationId"><img alt="@LocationDetails.Name" src="/static/placeholder-location.png" /></a>
            </div>
        }
        <div class="title">
            <a href="/games/@GameId/locations/@LocationId">@LocationDetails.Name</a>
        </div>
        <div class="nav-menu">
            <a href="/games/@GameId/locations/@LocationId">See more..</a>
        </div>            
    }

</div>

@code {
    [Parameter]
    public string? LocationId { get; set; }

    [Parameter]
    public GameIndexItem? LocationDetails { get; set; }

    [Parameter]
    public string? GameId { get;set; }

}