@page "/games"
@using website.Components.Layout;
@using Kadense.RPG.DataAccess;

<div class="games-list">
    <GameCards Games=@Games />
</div>

@code {
    public Dictionary<string, GameIndexItem>? Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var client = new DataConnectionClient();
        Games = await client.ReadGameIndexAsync();
    }
}    